@font-face
	font-family: 'Titania'
	src: url('../assets/fonts/Titania-Regular.woff') format('woff')

@font-face
	font-family: 'Elementary Gothic'
	src: url('../assets/fonts/Elementary_Gothic_Bookhand.woff') format('woff')
