@import "fonts"

*
	user-select: none

body
	font-family: 'Titania', sans-serif
	font-weight: 500
	padding: 0
	margin: 0
	position: relative
	
	&:before
		content: ''
		+M_AbsoluteFullCover
		background-image: url("../assets/images/backgrounds/mainContainerBackground.jpg")
		background-size: cover
		background-position: right top
		//filter: blur(0.2)
